{
  "mode": "requests",
  "checkin_page": "https://glados.cloud/console/checkin",
  "cookie": "",
  "checkin_post_url": "https://glados.cloud/api/user/checkin",
  "post_json": {"token": "glados.cloud"}
}
